@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

html {
  scroll-behavior: smooth;
}


.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: rgba(106, 55, 227, 1);
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:  0.3s ease, color 0.3s ease;
}

/* Light mode (default) */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  /* default light */
  --text-color: #000000;
  --card-border: #ddd;
  --text-secondary: #444444;

  --hero-bg: #ffffff;
  --hero-bg2: #d5dbff80;

  --primary-btn-bg: #3cb44a;
  --primary-btn-text: #ffffff;
  --secondary-btn-border: #3cb44a;
  --secondary-btn-text: #3cb44a;

  --card-bg: #ffffff;
  --card-border: #ffffff;
  --text-color: #333333;

  --avatar-border: #ffffff;
  --card-text: #111111;
}
.card p {
  color: var(--card-text);
}

.dark {
  --bg-color: #0f0f0f;
  --text-color: #ffffff;
}

/* Dark mode */
html.dark {
  --section-bg: #1b1b1b; /* single color */
  --section-shadow: rgba(0, 0, 0, 0.6);
  --card-text: #ffffff;
  --bg-color: #111111;
  --text-color: #ffffff;
  --text-secondary: #cccccc;

  --hero-bg: #222222;
  --hero-bg2: #33334480;

  --primary-btn-bg: #3cb44a;
  --primaryBlue: #293372;
  --primary-btn-text: #ffffff;
  --secondary-btn-border: #3cb44a;
  --secondary-btn-text: #ffffff;
  --footer-text-: #000;
  --card-bg: #1e1e1e;
  --card-border: #444444;
  --text-color: #f0f0f0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s ease, color 0.3s ease;
}
